/*delete*/
body{
    margin: 0px;
}
/*delete end*/
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 13px;
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
p, li {
    font-size: 1rem;
}

@media screen and (min-width: 500px){
    html{
        font-size: 14px;
    }
}
@media screen and (min-width: 570px){
    html{
        font-size: 15px;
    }
}
@media screen and (min-width: 620px){
    html{
        font-size: 16px;
    }
}
@media screen and (min-width: 680px){
    html{
        font-size: 17px;
    }
}
@media screen and (min-width: 720px){
    html{
        font-size: 18px;
    }
}
@media screen and (min-width: 800px){
    html{
        font-size: 19px;
    }
}
@media screen and (min-width: 860px){
    html{
        font-size: 20px;
    }
}
@media screen and (min-width: 920px){
    html{
        font-size: 21px;
    }
}
@media screen and (min-width: 1000px){
    html{
        font-size: 22px;
    }
}


.event1 {
    background-image: url(img/01-ubermatch/assets/uber_background.png);
}
.event1 .image {
    margin-top: 154px;
    top: 50%;
    background-image: url(img/01-ubermatch/assets/uber_match.png);
}

.event2 {
    background-image: url(img/02-allstarz/assets/all_starz_background.jpg);
}
.event2 .image {
    background-image: url(img/02-allstarz/assets/all_starz.png);
}

.event3 {
    background-image: url(img/03-night-observer/assets/night_observer_background.jpg);
}
.event3 .image {
    background-image: url(img/03-night-observer/assets/night_observer.png);
}

.event4 {
    background-image: url(img/04-go-buzzinga/assets/go_buzzinga_background.jpg);
}
.event4 .image {
    background-image: url(img/04-go-buzzinga/assets/go_buzzinga.png);
}
.event5 {
    background-image: url(img/05-sangini/assets/sangini_background.jpg);
}
.event5 .image{
    background-image: url(img/05-sangini/assets/sangini.png);
}
.event6 {
    background-image: url(img/06-firmloop/assets/firmloop_background.jpg);
}
.event6 .image {
    background-image: url(img/06-firmloop/assets/firmloop.png);
}
.image {
    top: -50%;
    left: 188px;
    margin-top: -623px;
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
}

.pinWrapper {
    height: 100%;
    width: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.event1 .image, .event2 .image, .event3 .image, .event4 .image {
    width: 300px;
    height: 500px;
}
.event5 .image, .event6 .image{
    width: 500px;
    height: 400px;
    left: 0;
    margin-top: -550px;
}
.event {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.scrollmagic-pin-spacer {
    position: absolute !important;
    clip: rect(auto, auto, auto, auto);
}
.text-event-1 {
    margin-top:  180px!important;
}
.text-event span{
    font-size: 1.1rem;
    font-weight: bold;
}
.text-event p {
    font-size: .8rem;
}
.text-event {
    letter-spacing: 1.2px;
    position: absolute;
    left: 600px;
    /*    top: -70%;*/
    max-width: 500px;
    /*    margin-left: 0px;*/
    margin-top: -545px;
    font-family: Oxygen;
    color: rgb(255, 255, 255);
}
/*
.text-event-6, .text-event-5 {
top: -70%;
left: 60%;
}
*/
.opacity-zero {
    opacity: 0;
}
.gps-thread{
    background-repeat: no-repeat;
    background-size: contain;
    width: 400px;
    height: 500px;
    margin-top: 250px;
    left: 116px;
    position: absolute;
    background-image: url(img/01-ubermatch/assets/line.png);
}
.pin {
    position: absolute;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: contain;
}
.red-pin {
    background-image: url(img/01-ubermatch/assets/map_pin2.png);
    left: 163px;
    margin-top: 173px;
    height: 120px;
    width: 120px;
}
.black-pin {
    background-image: url(img/01-ubermatch/assets/map_pin1.png);
    margin-top: 387px;
    left: 71px;
}
.blue-pin {
    background-image: url(img/01-ubermatch/assets/map_pin3.png);
    margin-top: 485px;
    left: 460px;
}
.cosco {
    margin-top: -1050px;
    background-position: center;

    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(img/02-allstarz/assets/tennis_ball.png);
    width: 200px;
    height: 200px;
    left: 100px;
    top: 100px;

}
.basketball{

    margin-top: -140px;
    background-position: center;

    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(img/02-allstarz/assets/basketball_blur.png);
    width: 200px;
    height: 200px;
    left: 800px;
    top: 100px;


}
.spoon{
    left: -30px;
    top: -468px;
    background-position: center;
    width: 120px;
    height: 120px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(img/04-go-buzzinga/assets/fork_n_spoon.png);
}
.bottomfeeder {
    top: -219px;
    width: 100px;
    height: 100px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;

}
.bottomfeeder1 {
    background-image: url(img/04-go-buzzinga/assets/line_cart.png);
}
.bottomfeeder2 {
    background-image: url(img/04-go-buzzinga/assets/line_projector.png);
    left: 570px;
}
.bottomfeeder3 {
    background-image: url(img/04-go-buzzinga/assets/line_dining.png);
    left: 700px;
    width: 115px;
}
.bottomfeeder4 {
    background-image: url(img/04-go-buzzinga/assets/line_burger.png);
    left: 850px;
    width: 93px;
    height: 82px;
}
.bottomfeeder5 {
    background-image: url(img/04-go-buzzinga/assets/line_basketball.png);
    left: 965px;
    width: 93px;
    height: 82px;
}
.bottomfeeder6 {
    background-image: url(img/04-go-buzzinga/assets/line_fork_spoon.png);
    left: 1070px;
    width: 93px;
    height: 82px;
}
.burger{
    left: -20px;
    top: -690px;

    background-position: center;
    width: 220px;
    height: 220px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(img/04-go-buzzinga/assets/burger.png);
}
.cart{
    left: 10px;
    top: -330px;

    background-position: center;
    width: 130px;
    height: 130px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(img/04-go-buzzinga/assets/shopping_cart.png);
}
.bball{
    left: 75px;
    top: -481px;

    background-position: center;
    width: 180px;
    height: 200px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(img/04-go-buzzinga/assets/basketball.png);
}
.shopping-bag {
    left: 428px;
    top: -640px;

    background-position: center;
    width: 150px;
    height: 200px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(img/04-go-buzzinga/assets/shopping.png);
}
.bat{
    left: 395px;
    top: -450px;

    background-position: center;
    width: 150px;
    height: 200px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(img/04-go-buzzinga/assets/bat.png);
}
.bbq{
    left: 124px;
    top: -266px;
    background-position: center;
    width: 200px;
    height: 200px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(img/04-go-buzzinga/assets/grill.png);
}
.beer {
    left: 396px;
    top: -296px;
    background-position: center;
    width: 200px;
    height: 200px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(img/04-go-buzzinga/assets/beer.png);

}
.rose{
    left: -20px;
    top: -460px;
    background-position: center;
    width: 100px;
    height: 100px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(img/05-sangini/assets/big_petal.png);
}
.rose2{
    left: 396px;
    top: -296px;
    background-position: center;
    width: 200px;
    height: 200px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(img/05-sangini/assets/petals1.png);
}
.petal2{
    left: 30px;
    top: -380px;
    background-position: center;
    width: 50px;
    height: 50px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(img/05-sangini/assets/petals2.png);

}
.rose3 {
    left: 0px;
    top: -572px;
    background-position: center;
    width: 50px;
    height: 50px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(img/05-sangini/assets/petals3.png);
}
.rose4{
    left: 900px;
    top: -246px;
    background-position: center;
    width: 60px;
    height: 60px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(img/05-sangini/assets/petals4.png);
}
.btn-orange {
    background-color: rgb(255, 113, 0);
    box-shadow: 0px 6px 10px 0px rgba(103, 114, 122, 0.3);
    font-family: "Oxygen";
    color: rgb(255, 255, 255);
    font-weight: bold;  
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 33px;
}
.bubble{

    background-position: center;
    width: 200px;
    height: 200px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}
.bubble1 {
    background-image: url(img/03-night-observer/assets/circle1.png);
    left: 396px;
    top: -296px;
}
.bubble2 {
    background-image: url(img/03-night-observer/assets/circle2.png);
    left: 60px;
    top: -758px;
    width: 100px;
    height: 100px;
}
.bubble3 {
    background-image: url(img/03-night-observer/assets/circle3.png);
    left: 1000px;
    top: -696px;
    width: 100px;
    height: 100px;
}
.bubble4 {
    background-image: url(img/03-night-observer/assets/circle4.png);
    left: 10px;
    top: -400px;
    width: 180px;
    height: 180px;
}
.bubble5 {
    background-image: url(img/03-night-observer/assets/circle5.png);
    left: 396px;
    top: -296px;
}
.bubble6 {
    background-image: url(img/03-night-observer/assets/circle6.png);
    left: 699px;
    top: -650px;
    height: 80px;
    width: 80px;
}
.bubble7 {
    background-image: url(img/03-night-observer/assets/circle7.png);
    left: 890px;
    top: -160px;
    height: 100px;
    width: 100px;

}
.bubble8 {
    background-image: url(img/03-night-observer/assets/circle8.png);
    left: 100px;
    top: -700px;
}
.petals{

    background-position: center;

    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}
.yellowPetal{
    width: 50px;
    height: 50px;
    background-image: url(img/05-sangini/assets/yellow_petals2.png);
    left: 0px;
    top: -386px;
}
.yellowPetal2 {
    background-image: url(img/05-sangini/assets/yellow_petals1.png);
    width: 50px;
    height: 70px;
    left: 437px;
    top: -488px;
}
.whitePetal {
    background-image: url(img/05-sangini/assets/white_petals1.png);
    width: 100px;
    height: 100px;
    left: 326px;
    top: -630px;
}
.whitePetal2 {
    background-image: url(img/05-sangini/assets/white_petals2.png);
    width: 40px;
    height: 40px;
    left: 860px;
    top: -200px;

}
.mobile-event {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.margin-auto {
    margin: auto;
}
.mobile-text-event {
    font-family: "Oxygen";
    color: rgb(255, 255, 255);
}
.mobile-text-event span{
    font-size: 50px;
    font-weight: bold;
}
.mobile-text-event p{
    font-size: 40px;
}
.uber-mobile {
    background-image: url(img/01-ubermatch/assets/uber_background.png);
}
.allstarz-mobile{
    background-image: url(img/02-allstarz/assets/all_starz_background.jpg);
}
.night-mobile {
    background-image: url(img/03-night-observer/assets/night_observer_background.jpg);
}
.buzz-mobile {
    background-image: url(img/04-go-buzzinga/assets/go_buzzinga_background.jpg);
}
.sangini-mobile {
    background-image: url(img/05-sangini/assets/sangini_background.jpg);
}
.firmloop-mobile {
    background-image: url(img/06-firmloop/assets/firmloop_background.jpg);
}

@media only screen and (max-width: 1200px) {
    .image {
        left:88px;
    }
    .text-event {
	left: 470px;
}
    .gps-thread {
        left: 22px;
    }
    .red-pin {
        left: 16px;
        margin-top: 227px;
    }
    .black-pin {
        left: -17px;
    }
    .blue-pin {
        left: 360px;
    }
}
@media only screen and (max-width: 1100px) and (min-width:1201) {
    .image{
        margin-top: -536px;
    }
}

@media only screen and (max-width:1440px)and (min-width:1101px){
    .image {
        margin-top: -568px;
}
}
@media only screen and (max-width:2560px) and (min-width:1441px){
.event1 .image {
    margin-top: 648px;
}
    .text-event-1 {
	margin-top: 648px!important;
}
    .gps-thread {
        margin-top: 750px;
}
    .black-pin {
        margin-top: 886px;
}
    .red-pin {
        margin-top: 670px;
}
    .blue-pin {
        margin-top: 985px;
}
}